* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

main {
  display: flex;
  flex-direction: row;
}

.left-container,
.right-container {
  padding: 40px;
  height: 88vh;
  width: 50vw;
}

.top-left,
.top-right {
  top: 20px;
  font-size: 12px;
  font-weight: bold;
}

.top-left {
  left: 20px;
  text-transform: uppercase;
}

.top-right {
  left: 20px;
}

.left-main {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-start;
  margin-top: 20vh;
}

.left-container h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.left-container p {
  font-size: 1.2rem;
  color: #888;
  max-width: 40vh;
}

.top-right {
  display: flex;
  align-items: baseline;
}

.top-right p {
  font-weight: initial;
}

.right-main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.right-container {
  background-image: url(../img/104_2_dieter_rams_the_jf_chen_collection_july_2018_artur_braun_and_fritz_eichler_sk_25_radio__wright_auction.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  height: 100px;
  width: 100vw;
  margin-top: 10px;
  background-color: #f5f5f5;
}

.social {
  flex-basis: 200px;
}
.social a {
  padding: 0 10px;
}

.social-icon img {
  height: 15px;
  width: 15px;
}

button {
  height: 100%;
  width: 100px;
  color: black;
  font-size: 30px;
  background: transparent;
  text-align: center;
  border: none;
  flex-basis: 200px;
}

button:hover {
  color: white;
  background-color: black;
}

.signatur {
  display: flex;
  align-content: center;
  flex-direction: column;
  text-align: right;
  flex-basis: 200px;
}

.signatur h2 {
  font-size: 18px;
}
