*{
  box-sizing: border-box;
}

body {
  background-color: #f0f0f0;
  color: #333;
  margin: 10px 0 0 0;
  padding: 0;
}


header h1 {
  font-size: 1em;
  color: #555;
  margin: 0 0 10px 30px;
}

.herotext {
  background-image: url('../img/Landscape.png');
  background-size: cover; background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
  height: 400px; 
  display: flex;
  justify-content: center; 
  align-items: center;    
  position: relative;
}

.herotext h2 {
  color: white;
  font-weight: 400;
  margin: 0; 
  padding: 0;
  border: none;
}

h2 {
  text-align: center;
  font-weight: normal;
  margin-top: 40px;
  margin-bottom: 20px;
}

p {
  text-align: center;
  max-width: 800px;
  margin: 15px auto 30px auto;
}

.Gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px; 
  margin: 40px auto 0 auto;
  max-width: 90%;

}

.Gallery img {
  width: 100%;
  display: block;
}

.tour-list {
  list-style: none;
  padding: 0;
  text-align: left;
  margin-top: 30px;
  margin-left: 100px;
}

.tour-list li {
  margin-bottom: 12px; 
  color: #444;
}

.tour-list li.sold-out::after,.tour-list li.spots-available::after {
  content: 'SOLD OUT';
  color: red; 
  margin-left: 0.25em;
}


.tour-list li.spots-available::after {
    content: 'ONLY 4 SPOT AVAILABLE';

}

.tour-list li.available::after {
  content: 'AVAILABLE'; 
  color: green; 
  margin-left: 0.25em;
}

footer {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  border-top: 1px solid #ddd;
  padding-top: 20px;
}

footer h3 {
  font-weight: normal;
  margin-bottom: 5px;
}

.social{
  text-align: center;
  margin-top: 15px;
}

.social a{
  display: inline-block;
  margin: 0 10px;
}

.icon{
  width: 15px;
  height: 15px;
}