// anstatt import zu scrhreiben, sollen wir durch @use unsere Sachen, wie klassen.css und mixin.scss importieren

@use "./klassen";
@use "./mixin.scss";
@use "./variables.scss";

// === nesting ===

// mit dem "&" Sonderzeichen kann man dann mit nth-of-type arbeiten wenn man ein einzelne childElement von einem ParentElement ansprechen möchte, das betrifft alle Pseudo Elemente

// um muxin benutzen zu können, brauchen wir das Keyword @include

header {
  @include mixin.displayFlex(flex, justify-content, align-items);
  img {
    border-radius: 50%;
  }
  nav {
    a {
      text-decoration: none;
      font-size: 24px;
      color: black;

      &:nth-of-type(2) {
        margin: 0 20px;
      }
    }
  }
}

main {
  @include mixin.tablet {
    background-color: red;
  }

  @include mixin.smartphone {
    background-color: green;
  }

  section {
    &:nth-of-type(1) {
      h2 {
        @include mixin.headlineStyle(20px, "Tahoma", center);
      }
      // zum nutzen von Variablen aus einer anderen SCSS Datei mach ich folgendes =>
      p {
        font-size: variables.$text_fz;
      }
    }
  }
}

article {
  button {
    &:nth-of-type(1) {
      @include mixin.btnStyle(10px, 20px, pink, 20px);
    }
    &:nth-of-type(2) {
      @include mixin.btnStyle(10px, 20px, rgb(255, 8, 49), 20px);
    }
  }
}

// zum Nutzen der Klasse, brauchen wir das Keyword @extend direkt der Klassname
footer {
  button {
    @extend .btn;
  }
}
