@import "tailwindcss";

@font-face {
  font-family: OpenSans;
  src: url("/src/assets/fonts/OpenSans.ttf");
}

@font-face {
  font-family: Banny;
  src: url("/src/assets/fonts/Banny.otf");
}

@theme {
  --font-opensans: OpenSans, sans-serif;
  --font-banny: Banny, sans-serif;
  --color-t-accent: #ffffff80; /* 50% */
  --color-t-accent-2: #ffffffe5; /* 90% */
  --color-t-accent-3: #ffffff33; /* 20% */
  --color-background: #000000e6;
  --color-bg-accent: #e8c300;
}

@layer base {
  html {
    @apply scroll-smooth;
  }
  body {
    @apply text-t-accent font-opensans;
  }
  h1,
  h2,
  h3 {
    @apply text-t-accent-2 font-banny;
  }
}
