@import "tailwindcss";

@font-face {
  font-family: OpenSans;
  src: url("/src/assets/fonts/OpenSans.ttf");
}

@font-face {
  font-family: Banny;
  src: url("/src/assets/fonts/Banny.otf");
}

@theme {
  --font-opensans: OpenSans, sans-serif;
  --font-banny: Banny, sans-serif;
  --color-t-accent: #ffffff80; /* 50% */
  --color-t-accent-2: #ffffffe5; /* 90% */
  --color-background: #000000e6;
  --color-bg-accent: #e8c300;
}

/* small text-xs 12px
normal text-sm 14px
accent text-lg 18px
section text-4xl 36px */
