@import "tailwindcss";

@theme {
  --color-bg: #eaf3f7;
  --color-ink: #10212a;
  --color-muted: #6c7a86;
  --color-card: #fff;
  --color-accent: #377cfb;
  /* types */
  --color-t-normal: #9aa0a6;
  --color-t-fire: #f57c00;
  --color-t-water: #2196f3;
  --color-t-electric: #fbc02d;
  --color-t-grass: #4caf50;
  --color-t-ice: #26c6da;
  --color-t-fighting: #d32f2f;
  --color-t-poison: #8e24aa;
  --color-t-ground: #a1887f;
  --color-t-flying: #90a4ae;
  --color-t-psychic: #ec407a;
  --color-t-bug: #8bc34a;
  --color-t-rock: #795548;
  --color-t-ghost: #7e57c2;
  --color-t-dragon: #5c6bc0;
  --color-t-dark: #455a64;
  --color-t-steel: #78909c;
  --color-t-fairy: #ff80ab;

  --radius: 14px;
}
