* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  border: 2px solid black;
  border-radius: 10px;
  padding: 2rem;
  background-color: white;
}

label {
  font-size: 1.1rem;
  font-weight: bold;
}

button {
  background-color: greenyellow;
  padding: 0.2rem;
}
